/* -------------------------------------------------------------------------- */
/*                             Base Navbar Styles                             */
/* -------------------------------------------------------------------------- */

nav.navbar {
  background-color: color(blue);
  color: color(body);
  padding: calculateRem(30px);
  // Logo
  .navbar-brand {
    color: color(white);
  }
  // Mobile Nav Toggle Button
  .navbar-toggler {
    background-color: color(orange);
    width: 50px;
    text-align: center;
    // Nav Toggle Button Icon
    .navbar-toggler-icon {
      color: color(white);
      line-height: 30px;
      width: 100%;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                      Default (Expanded) Navbar Styles                      */
/* -------------------------------------------------------------------------- */

.navbar-collapse {
  ul.navbar-nav {
    li.nav-item {
      margin: 0 1rem;
      a.nav-link {
        text-transform: uppercase;
        color: color(white);
        font-weight: 600;
        letter-spacing: 1px;
        @include transition(color 0.3s ease);
        &:hover {
          color: color(orange);
        }
        &:active {
          color: color(orange);
        }
        &:focus {
          color: color(orange);
        }
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                            Mobile Navbar Styles                            */
/* -------------------------------------------------------------------------- */

.navbar-collapse.show,
.navbar-collapse.collapsing {
  background-color: color(white);
  padding: calculateRem(30px);
  ul.navbar-nav {
    li.nav-item {
      a.nav-link {
        color: color(blue);
        &:hover {
          color: color(orange);
        }
        &:active {
          color: color(orange);
        }
        &:focus {
          color: color(orange);
        }
      }
    }
  }
}
