// Social Share

#social-share {
  width: 100%;
  margin: inherit auto;
  text-align: center;
  padding-bottom: 1rem;
}

#social-share a {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 4px;
  border-radius: 50%;
  font-size: 18px;
  color: #fff;
  opacity: 0.75;
  transition: opacity 0.15s linear;
  background-color: transparent;
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    margin: 6px;
    width: 24px;
    height: 24px;
    font-size: 24px;
  }
}

#social-share a:hover {
  opacity: 1;
}

#social-share i {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
