<!--   Video Section   -->
<section id="video">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 pardot-region="Video - Headline" class="text-center text-uppercase text-white h1">
          VIDEO
        </h2>
        <hr class="star-light mb-5" />
        <p class="lead text-white text-center mb-4" pardot-region="Video - Content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum lacus vel malesuada elementum.
        </p>
        <div pardot-region="Video - Embed" class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rblYSKz_VnI" frameborder="0"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>