/* -------------------------------------------------------------------------- */
/*                               Font Functions                               */
/* -------------------------------------------------------------------------- */

// Accessor Function of map-get $font-stack

@function font-stack($key) {
  @return map-get($font-stack, $key);
}

// Generate Font Stack Classes (ex: class="open-sans")

@each $key, $value in $font-stack {
  .#{$key} {
    font-family: $value;
  }
}

// Generate Font Weight Classes (ex: class="font-extra-light")

@each $key, $value in $font-weight {
  .font-#{$key} {
    font-weight: $value;
  }
}

// Calculate REM Size (used in @mixin font-size)

html {
  font-size: 16px; /* Required for Function + Mixin */
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

/* -------------------------------------------------------------------------- */
/*                               Color Functions                              */
/* -------------------------------------------------------------------------- */

// Accessor Function of map-get $color

@function color($key) {
  @return map-get($color, $key);
}

// Generate Text, Background, and Border Color Classes for Each Color (ex: class="bg-orange")

@each $key, $value in $color {
  .text-#{$key} {
    color: $value;
  }
  .bg-#{$key} {
    background-color: $value;
  }
  .border-#{$key} {
    border-color: $value !important;
  }
}
