/* -------------------------------------------------------------------------- */
/*                               Font Variables                               */
/* -------------------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i");

$font-stack: (
  open-sans: (
    "Open Sans",
    Arial,
    Helvetica,
    sans-serif,
  ),
  lato: (
    "Lato",
    Arial,
    Helvetica,
    sans-serif,
  ),
);

$font-weight: (
  extra-light: 200,
  light: 300,
  normal: 400,
  semi-bold: 500,
  bold: 600,
  extra-bold: 700,
  heavy: 800,
  black: 900,
);

/* -------------------------------------------------------------------------- */
/*                               Color Variables                              */
/* -------------------------------------------------------------------------- */

$color: (
  transparent: transparent,
  body: #212529,
  white: #ffffff,
  grey: #f4f8ff,
  orange: #ff7300,
  blue: #082b4b,
  dark-blue: #051c31,
);
