{% set facebook = "#" %}
{% set twitter ="#" %}
{% set youtube = "#" %}
{% set linkedin = "#" %}


<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4 pardot-region="Footer 1 - Headline">
          CONTACT US
        </h4>
        <div pardot-region="Footer 1 - Content">
          <p>
            1 Tara Blvd Suite 200<br />
            Nashua, NH 03062
          </p>

          <p>1-844-GO-IMPACT</p>
        </div>
      </div>
      <div class="col-md-4">
        <h4 pardot-region="Footer 2 - Headline">
          Around the Web
        </h4>
        <div id="social-share">
          <!-- Facebook -->
          <a pardot-region="Facebook" href="{{ facebook }}" target="blank"
            ><i class="fab fa-facebook-f"></i
          ></a>

          <!-- Twitter -->
          <a pardot-region="Twitter" href="{{ twitter }}" target="blank"
            ><i class="fab fa-twitter"></i
          ></a>

          <!-- Youtube -->
          <a pardot-region="Youtube" href="{{ youtube }}" target="blank"
            ><i class="fab fa-youtube"></i
          ></a>

          <!-- Linkedin -->
          <a pardot-region="LinkedIn" href="{{ linkedin }}" target="blank"
            ><i class="fab fa-linkedin"></i
          ></a>
        </div>
      </div>
      <div class="col-md-4">
        <h4 pardot-region="Footer 3 - Headline">
          About Us
        </h4>
        <div pardot-region="Footer 3 - Content">
          <p>
            We're the Digital Marketing Un-Agency. Our goal is to create maximum
            marketing impact and to do it with measurable results.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
