<!-- Editable Hero Background Image -->
    <code
      pardot-region="Change Header Background image"
      pardot-region-type="HTML"
    >
      <style>
        header {
          background-image: url("https://maljenkins.github.io/cheshPublic/images/header_backdrop.jpg");
          background-repeat: no-repeat;
          background-position: center top !important;
          background-color: #222222;
        }
      </style>
    </code>

<!-- Hero -->
<header>
  <div class="container">
    <h1 pardot-region="Hero Headline">
      Lorem Ipsum Dolor
    </h1>
    <h2 pardot-region="Hero Subhead">
      Aenean nisl arcu, malesuada quis ullamcorper vitae, volutpat sit amet
      neque
    </h2>
  </div>
</header>
